body{
    text-align: center;
    font-family: Tahoma;
}
form{
    margin: 0 auto;
    padding-top: 3rem;
    width: 400px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 10px;  
}

Button{
    width: 300px;
    height: 30px;
    background-color: #5ef0f0;
    color:black;
    border: 1px solid black;
    margin-top: 13px;
}
Button:hover{
    color: white;
    background-color: #2e9e9e;
    border: none;
}
input{
    width: 300px;
    margin: 10px auto;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
Тестую стилі взяті з інтернету
input::-webkit-input-placeholder {
    border-top: none;
    border-right: none;
    border-left: none;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}