<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <h1 title="Форма реєстрації на сайті">Registration</h1>
        <div>
            <p>Already register? <a routerLink ="/login-button" (click)="closeDialog()">Log In</a></p>
        </div>
        
        <!--  \\Тестую код взятий з нету\\ -->

        <div class="group"> 
            <input required type="email" placeholder="Email">
        </div>
        <div class="group">
            <input required type="text" placeholder="Password">
        </div>
        

       <!-- <div class="group">
         <p>{{title}}</p> (Хм, отже все працює і без цього рядка) 
         <input required type="email" (input)="inputEmail($event)" [value]='title'>
     </div>
     <div class="group">
         <p>{{password}}</p> (Хм, отже все працює і без цього рядка)
         <input required type="text" (input)="inputPassword($event)" [value]='password'>
     </div> -->

        <div class="registerButton">
            <button>Register</button>
        </div>
    </form>
</body>
</html>