<div class="page-header">
    <h1> <a href=" " [routerLink]="['../']">Список покупок</a></h1>
</div>
<p >Вид продукту:</p>
<p>Назва    : {{curentItem.purchase}}</p>
<p>Ціна     : {{curentItem.price}}</p>
