<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <router-outlet>
      <app-menu></app-menu>
    </router-outlet>
  </body>
</html> -->


User name: <input type="text" [(ngModel)]="userName">
<button (click)="getAllUsers()">Search</button>
<div *ngIf="users">
   <!--  <img src="{{users.avatar_url}}" alt="">
    <p>
        E-mail: <label>{{users.email}}</label>
    </p> -->
    <table mat-table [dataSource]="users" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name.firstname}} </td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name.lastname}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
     
    
      


</div> 
