<div> 
    <div class="topMenu">
        <button mat-button>Menu</button>
    </div>
    <div class="registerButton"> 
        <button mat-button mat-raised-button (click)='openRegister()' >Register</button>
    </div>
    <div class="loginButton">
        <button mat-button mat-raised-button (click)='openLogin()' >Login</button>
    </div>
</div>
